button {
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white;
    border: none;
    background-color: blue;
    /* propiedades en la que se usara la transicion */
    /* transition-property: background-color color width;  se puede poner asi especificando cada una en un maxiomo de 5 o 6*/
    /* transition-property: all;  se puede poner asi especificando todas*/
    /* transition-property: all;
    transition-duration: 1s; */
    /* otra manera */
    transition: all 1s ease-in 0.5s;
}

button:hover {
    background-color: green;
    color: black;
    border-radius: 50%;
}