img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 1.5s;
    /* transform-origin: top;
    transform-origin: right;
    transform-origin: bottom;
    transform-origin: left;
    transform-origin: top right;
    transform-origin: bottom right;
    transform-origin: bottom left;
    transform-origin: top left; */
    transform-origin: 30% 80%;
}

img:hover {
    transform: rotate(45deg);
}